/* This file is for your main application css. */

/* import tailwind
@see https://tailwindcss.com/docs/installation#3-create-your-tailwind-config-file-optional
*/

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind base;

 /**
  * This injects any component classes registered by plugins.
  */
@tailwind components;

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
@tailwind utilities;


/* Custom css below */
/* The number of attributes displayed within the rushing table */
$num-rushing-attributes: 15;

// .grid-cols-num-rushing-attributes {
//   grid-template-columns: repeat($num-rushing-attributes, minmax(0, 1fr));

//   // first row (header) to take up as much space as needed
//   // then the content can consume the rest
//   grid-template-rows: auto 1fr;

//   // unfortunately, it seems like repeat() doesn't work
//   // so the number of columns should match $num-rushing-attributes
//   grid-template-areas:
//     'header header header header header header header header header header header header header header header'
//     'data data data data data data data data data data data data data data data';
// }

// .grid-cols-num-rushing-attributes > .grid-cols-num-rushing-attributes__header {
//   grid-area: header;
// }

// .grid-cols-num-rushing-attributes > .grid-cols-num-rushing-attributes__data {
//   grid-area: data;
//   overflow: auto;
//   padding: 15px 5px 10px 5px;
// }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#table-rushing > tbody td, #table-rushing > thead th {
  width: calc(100% / #{$num-rushing-attributes});
  float: left;
}
